::-webkit-scrollbar{
    width: 0px;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(34, 72, 112);
    /* font-family: 'Arial', sans-serif; */
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Lexend', sans-serif;
    position: relative;
}

header, section{
    margin: 0px;
}

section{
    background: linear-gradient(270deg, #1891bd, #2766c5);
    background: linear-gradient(45deg, #1891bd, #2920e0);
    box-shadow: inset 0px 0px 50px black;
    background-size: 200% 200%;
}

/* Section Hero */
#hero {
    /* background-image: url('chemin_vers_votre_image_generée.jpg'); */
    /* background-size: cover; */
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(-45deg, #e7bc2f, #e86209, #52df57, #19aa0b, #1891bd, #2920e0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    box-shadow: inset 0px 0px 50px black;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-size: 7vw;
    font-family: 'Arial', sans-serif;
    color: white;
    margin-bottom: 2rem;
    min-height: 80px;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}

#header-h {
    /* position: relative; */
    /* position: sticky; */
    top: 0;
    z-index: 1000;
    text-align: right;
    margin-bottom: 15vw;
    display: flex;
    justify-content: right;
    align-items: center;
    
}

#deconnexion{
    position: relative;
    min-width: 100px;
    text-align: center;
}

#deconnexion span{
    transform-origin: right;
    transition: all 0.3s ease;
    opacity: 1;
}


#deconnexion:hover span{
    opacity: 0;
}

#deconnexion::before{
    content: 'Deconnexion';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

#deconnexion:hover::before{
    transform: scaleX(1);
}

.hero-navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#theme {
    display: inline-block;
    font-size: 1.2rem;
    /* font-family: 'Arial', sans-serif; */
    color: rgb(244,237,222);
    background: linear-gradient(-90deg, #000000, #000000, #000000, #000000, #000000, #000000, #000000,#000000, #000000, rgb(244,237,222), #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000);
    border: 2px solid rgb(244,237,222);
    /* -webkit-text-stroke: 1px #fff; */
    /* margin: 0.5rem 0 0.5rem 0.5rem; */
    margin: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    background-size: 400% 400%;
}

#theme:not(:hover){
    animation: gradient 10s linear infinite;
}

#theme:hover{
    color: #000000;
    border: 2px solid #000000;
    -webkit-text-stroke: 1px #000000;
    background: linear-gradient(-90deg, rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222),rgb(244,237,222), rgb(244,237,222), #000000, rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222), rgb(244,237,222));
    animation: gradient 10s linear infinite reverse;
}

.nav-link, .accueil, #sign, #deconnexion {
    display: inline-block;
    font-size: 1.2rem;
    /* font-family: 'Arial', sans-serif; */
    color: rgb(244,237,222);
    border: 2px solid rgb(244,237,222);
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.div_accueil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover, .accueil:hover, #sign:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    cursor: pointer;
}

#deconnexion:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: #000000;
    cursor: pointer;
}

.section {
    display: none;
}

/* .content-section {
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
    display: none;
}
  
.content-section.visible {
    opacity: 1;
    transform: translateY(-100%);
    display: block;
}
   */

.languages-container,
.notions-container,
.exercises-container  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4vw;
    padding: 30px;
}

#arbo_lang, #arbo_concept{
    display: flex;
    align-items: center;
    height: 50px;
}

.arbo{
    width: auto;
    border: 2px solid rgb(244,237,222);
    color: rgb(244,237,222);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    margin: 5px;
    /* border-radius: 5px; */
    transition: 0.3s;
}

.arbo:hover:not(span[type="slash"]){
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    cursor: pointer;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 3px solid black;
}
  
.box span {
    max-width: 100%;
    max-height: 100%;
}
  
.box span {
    font-weight: bold;
    text-align: center;
}
  
.box:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.content-section {
    min-height: 100vh;
    background: linear-gradient(225deg, #e7bc2f, #e86209, #52df57, #19aa0b, #1891bd, #2920e0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.button_exercice{
    text-decoration: none;
    color: black;
}

#elements_bdd{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

#elements_html{
    width: 50vw;
    margin: 0;
    padding: 0;
}

#admin-account select, #admin-account input, #admin-account textarea{
    width: auto;
    border: 2px solid rgb(244,237,222);
    color: rgb(244,237,222);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    margin: 5px;
    /* border-radius: 5px; */
    transition: 0.3s;
}

#admin-account textarea{
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    resize: vertical;
}

#admin-account select:hover, #admin-account input:hover, #admin-account textarea:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
}

#admin-account select:hover{
    cursor: pointer;
}

input:hover{
    cursor: pointer;
}

input[type='text']:hover, textarea[type='text']:hover{
    cursor: text;
}

#ajout_contenu{
    display: flex;
    margin: 0;
    padding: 0;
}

#form_ajout_notion_language{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form_ajout_notion_language div{
    margin: 10px;
}

#rankings p{
    padding: 0.5rem 1rem;
    font-size: large;
    text-align: justify;
}

.material-symbols-outlined{
   margin: 0.5rem;
}

canvas{
    padding: 0.5rem;
}

#rankings .div_accueil, #rankings p{
    height: 10vh;
}

#bar-chart-Exercices{
    height: 80vh;
}

#python {
    background-image: url("images/python.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#java {
    background-image: url("images/java.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#C {
    background-image: url("images/c.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#C\+\+ {
    background-image: url("images/c++.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#R {
    background-image: url("images/r.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#JavaScript {
    background-image: url("images/js.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#CSS {
    background-image: url("images/css.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#HTML {
    background-image: url("images/html.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#PHP {
    background-image: url("images/php.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#Matlab {
    background-image: url("images/matlab.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.language span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 100%;
    color: black;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

/*=================================================================================================================================*/
/* Exo de la semaine */
/*=================================================================================================================================*/

#titre_exo_week{
    padding: 5px;
}

#titre_exo_week h1{
    text-align: center;
}

#titre_exo_week legend{
    font-weight: bold;
}

#titre_exo_week p{
    text-align: justify;
}

#titre_exo_week td,
#titre_exo_week th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

#titre_exo_week td {
    text-align: center;
}

#titre_exo_week th[scope='col'] {
    background-color: rgba(105, 105, 105, 0.5);
    color: #fff;
}

#titre_exo_week th[scope='row'] {
    background-color: rgba(215, 217, 242, 0.5);
}

#titre_exo_week caption {
    padding: 10px;
    caption-side: bottom;
}

#titre_exo_week table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

/*=================================================================================================================================*/
/* Actualités */
/*=================================================================================================================================*/

#actualites{
    padding: 10px;
}

#actualites table{
    margin: 40px auto 40px auto;
    border-spacing: 0px;
}	

#actualites td,
#actualites th {
    border: 2px solid rgb(244,237,222);
    padding: 10px;
}

#actualites td {
    text-align: center;
}

#actualites th[scope='col'] {
    background-color: rgba(105, 105, 105, 0.5);
    color: #fff;
}

/*=================================================================================================================================*/
/* Profil */
/*=================================================================================================================================*/

.profile-container, .profile-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.profile-image {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image img {
    width: 100%;
    height: auto;
}

.profile-info {
    text-align: center;
    width: 100%;
}

.profile-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 18px;
    margin-bottom: 5px;
}

.profile-info > *{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit_profil{
    cursor: pointer;
    border: 1px solid black;
}

.edit_profil:hover{
    background-color: rgba(13, 255, 0, 0.5);
    transition: 0.3s;
}

#change_mdp{
    margin-top: 30px;
    padding: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3s;
}

#change_mdp:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

.xp-bar-container {
    width: 100%;
    height: 5px;
    background-color: #eee;
    border: 1px solid #000;
    display: flex;
    justify-content: left;
    align-items: left;
}

.xp-bar {
    height: 100%;
    background-color: #4caf50;
}

#header-h .xp-bar-container{
    width: 50%;
    margin: 10px;
}

#header-h p{
    margin: 1rem;
}

@media screen and (max-width: 750px) {
    #header-h {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    #header-h:nth-child(){
        flex-basis: calc(50% - 1rem);
    }
}

@media screen and (max-width: 600px) {
    .arbo {
        font-size: 12px;
        padding: 0.25rem 0.5rem;
        margin: 3px
    }
}

/*=================================================================================================================================*/
/* LeaderBoard */
/*=================================================================================================================================*/

.leaderboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}
  
.podium {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    margin-bottom: 2rem;
}
  
.podium .user {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.podium .user .rank {
    font-size: 2rem;
    font-weight: bold;
}
  
.podium .user .pseudo {
    font-size: 1.5rem;
    font-weight: bold;
}
  
.podium .user .xp {
    font-size: 1.2rem;
}
  
.list {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    width: 100%;
}
  
.list .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
}
  
.list .user .rank{
    flex: 1;
    text-align: right;
}

.list .user .pseudo{
    flex: 6;
}

.list .user .lvl {
    flex: 2;
}

.list .user .xp {
    flex: 2;
}

.list .user .rank,
.list .user .pseudo,
.list .user .lvl,
.list .user .xp {
    font-size: 1.2rem;
    border: 2px solid black;
    padding: 0.5rem;
}

.posX{
    margin: 0px 10px; 
}

.carre_lead{
    padding: 15px;
    height: 104px;
}

.pos11{
    background-image: url('images_leaderboard/Medaille_Or.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.pos22{
    background-image: url('images_leaderboard/Medaille_Argent.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.pos33{
    background-image: url('images_leaderboard/Medaille_Bronze.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}