::-webkit-scrollbar{
    width: 0px;
}

body{
    margin: 0;
    padding: 0;
    background-color: rgb(34, 72, 112);
    /* font-family: 'Arial', sans-serif; */
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Lexend', sans-serif;
    position: relative;
}

header, section{
    margin: 0px;
}

section{
    background: linear-gradient(270deg, #1891bd, #2766c5);
    background: linear-gradient(45deg, #1891bd, #2920e0);
    box-shadow: inset 0px 0px 50px white;
    background-size: 200% 200%;
}

/* Section Hero */
#hero {
    /* background-image: url('chemin_vers_votre_image_generée.jpg'); */
    /* background-size: cover; */
    background-position: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(-45deg, #e7bc2f, #e86209, #52df57, #19aa0b, #1891bd, #2920e0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    box-shadow: inset 0px 0px 50px black;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

.hero-content {
    text-align: center;
}

.hero-title {
    font-size: 4rem;
    font-family: 'Arial', sans-serif;
    color: white;
    margin-bottom: 2rem;
    min-height: 80px;
    /* -webkit-background-clip: text; */
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #fff;
}

#header-h {
    /* position: relative; */
    /* position: sticky; */
    top: 0;
    z-index: 1000;
    text-align: right;
    margin-bottom: 240px;
    display: flex;
    justify-content: right;
    align-items: center;
    
}

#deconnexion{
    position: relative;
}

#deconnexion span{
    transform-origin: right;
    transition: all 0.3s ease;
    opacity: 1;
}


#deconnexion:hover span{
    opacity: 0;
}

#deconnexion::before{
    content: 'Deconnexion';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left;
    transform: scaleX(0);
    transition: all 0.3s ease;
}

#deconnexion:hover::before{
    transform: scaleX(1);
}

.hero-navigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#theme {
    display: inline-block;
    font-size: 1.2rem;
    /* font-family: 'Arial', sans-serif; */
    color: #ffffff;
    background: linear-gradient(-90deg, #000000, #000000, #000000, #000000, #000000, #000000, #000000,#000000, #000000, #ffffff, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000, #000000);
    border: 2px solid #ffffff;
    /* -webkit-text-stroke: 1px #fff; */
    /* margin: 0.5rem 0 0.5rem 0.5rem; */
    margin: 8px;
    text-decoration: none;
    transition: all 0.3s ease;
    background-size: 400% 400%;
}

#theme:not(:hover){
    animation: gradient 10s linear infinite;
}

#theme:hover{
    color: #000000;
    border: 2px solid #000000;
    -webkit-text-stroke: 1px #000000;
    background: linear-gradient(-90deg, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff,#ffffff, #ffffff, #000000, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    animation: gradient 10s linear infinite reverse;
}

.nav-link, .accueil, #sign, #deconnexion {
    display: inline-block;
    font-size: 1.2rem;
    /* font-family: 'Arial', sans-serif; */
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.div_accueil{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link:hover, .accueil:hover, #sign:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    cursor: pointer;
}

#deconnexion:hover {
    background-color: rgba(255, 0, 0, 0.5);
    color: #000000;
    cursor: pointer;
}

.section {
    display: none;
}

/* .content-section {
    opacity: 0;
    transform: translateY(0);
    transition: opacity 0.5s, transform 0.5s;
    display: none;
}
  
.content-section.visible {
    opacity: 1;
    transform: translateY(-100%);
    display: block;
}
   */

.languages-container,
.notions-container,
.exercises-container  {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
}

#arbo_lang, #arbo_concept{
    display: flex;
    align-items: center;
    height: 50px;
}

.arbo{
    width: auto;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    margin: 5px;
    /* border-radius: 5px; */
    transition: 0.3s;
}

.arbo:hover:not(span[type="slash"]){
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
    cursor: pointer;
}

.box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 3px solid black;
}
  
.box span {
    max-width: 100%;
    max-height: 100%;
}
  
.box span {
    font-weight: bold;
    text-align: center;
}
  
.box:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.content-section {
    min-height: 100vh;
    background: linear-gradient(225deg, #e7bc2f, #e86209, #52df57, #19aa0b, #1891bd, #2920e0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.button_exercice{
    text-decoration: none;
    color: black;
}

#elements_bdd{
    width: 50vw;
    display: flex;
    justify-content: space-between;
}

#elements_html{
    width: 50vw;
    margin: 0;
    padding: 0;
}

#admin-account select, #admin-account input, #admin-account textarea{
    width: auto;
    border: 2px solid #ffffff;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem 1rem;
    margin: 5px;
    /* border-radius: 5px; */
    transition: 0.3s;
}

#admin-account textarea{
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    resize: vertical;
}

#admin-account select:hover, #admin-account input:hover, #admin-account textarea:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: #000000;
}

#admin-account select:hover{
    cursor: pointer;
}

input:hover{
    cursor: pointer;
}

input[type='text']:hover, textarea[type='text']:hover{
    cursor: text;
}

#ajout_contenu{
    display: flex;
    margin: 0;
    padding: 0;
}

#form_ajout_notion_language{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form_ajout_notion_language div{
    margin: 10px;
}

#rankings p{
    padding: 0.5rem 1rem;
    font-size: large;
    text-align: justify;
}

.material-symbols-outlined{
   margin: 0.5rem;
}

canvas{
    padding: 0.5rem;
}

#rankings .div_accueil, #rankings p{
    height: 10vh;
}

#bar-chart-Exercices{
    height: 80vh;
}

#python {
    background-image: url("images/python.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#java {
    background-image: url("images/java.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#C {
    background-image: url("images/c.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#C\+\+ {
    background-image: url("images/c++.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#R {
    background-image: url("images/r.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#JS {
    background-image: url("images/js.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#CSS {
    background-image: url("images/css.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#HTML {
    background-image: url("images/html.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#PHP {
    background-image: url("images/php.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#Matlab {
    background-image: url("images/matlab.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.language span {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: black;
    font-weight: bold;
    text-align: center;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0));
}

/*=================================================================================================================================*/
/* Exo de la semaine */
/*=================================================================================================================================*/

#titre_exo_week{
    padding: 5px;
}

#titre_exo_week h1{
    text-align: center;
}

#titre_exo_week legend{
    font-weight: bold;
}

#titre_exo_week p{
    text-align: justify;
}

#titre_exo_week td,
#titre_exo_week th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

#titre_exo_week td {
    text-align: center;
}

#titre_exo_week th[scope='col'] {
    background-color: rgba(105, 105, 105, 0.5);
    color: #fff;
}

#titre_exo_week th[scope='row'] {
    background-color: rgba(215, 217, 242, 0.5);
}

#titre_exo_week caption {
    padding: 10px;
    caption-side: bottom;
}

#titre_exo_week table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}