body{
    margin: 0;
    padding: 0;
    background-color: rgb(34, 72, 112);
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(-45deg, rgb(25, 41, 124), rgb(0, 129, 167));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

body > div{
    width: auto;
    color: #ffffff;
    padding: 0.5rem 1rem;
    margin: 5px;
    transition: 0.3s;
}

.accordion {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.accordion-header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    width: 50%;
}


.accordion-header:hover{
    cursor: pointer;
    background-color: #272727;
}

.accordion-content {
    padding: 0 1rem;
    display: none;
    animation: appear 0.3s linear;
}

.explication_text{
    width: 100%;
}

p{
    text-align: justify;
}

.code{
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    margin-top: 16px;
    padding: 15px;
}

.code_rouge{
    color: red;
}

p code{
    font-weight: bold;
    padding: 2px;
    border-radius: 5px;
}

p code:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);;
}

#title{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    font-size: 2rem;
}

ul > li{
    margin: 20px;
}

#sujet, p{
    font-family: 'Lexend', sans-serif;
}