body{
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(-45deg, #e7bc2f, #e86209, #52df57, #19aa0b, #1891bd, #2920e0);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    box-shadow: inset 0px 0px 50px black;
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

form{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    max-width: 250px;
    max-height: 400px;
    width: 250px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 10px rgba(103, 102, 102, 0.5)
}

input[type="password"]{
    margin: 5px;
    font-size: 1.1rem;
    color: #000000;
    border: none;
    /* border: 2px solid #000000; */
    text-decoration: none;
    transition: all 0.3s ease;
    background-color: rgba(255,255,255,0);
    border-bottom: 2px solid #000000;
    outline: none;
    transition-duration: 0.3s;
}

input[type="password"]:focus{
    background-color: rgba(255, 255, 255, 0.5);
}

input[type="submit"]{
    border: none;
    background-color: rgba(215, 240, 255, 0.8);
    padding: 15px 20px 15px 20px;
}

input[type="submit"]:hover{
  background-color: rgba(255, 255, 255, 1);
  color: #000000;
  cursor: pointer;
}